.Container-Card{
    position: relative;
    margin: auto;
    width: 70%;
    max-width: 380px;
    height: 260px;
    z-index: 10;
    background-color: rgba(12, 25, 44, 0.8);
    border-radius: 30px;
}